<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapible__heading">Item 1</h2>
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </use>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste accusantium debitis quis reprehenderit sint dolor explicabo assumenda odit quos.
    </div>  
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapible__heading">Item 1</h2>
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </use>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iste accusantium debitis quis reprehenderit sint dolor explicabo assumenda odit quos.
    </div>  
</div>